<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hpinc.voter"
    android:versionCode="2"
    android:versionName="1.1" >


    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="27" />


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hpinc.voter.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hpinc.voter.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.hpinc.voter.VoteActivity"
            android:label="@string/title_activity_vote" >
        </activity>
        <activity
            android:name="com.hpinc.voter.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.hpinc.voter.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hpinc.voter.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>